<p>header</p>

<!--Fazendo a navegação das páginas, colocando as tags de list-->
<nav>
    <!--No angular não usa-se o parâmetro href e sim o routerLink-->
    <a routerLink="/">Home</a>
    <br>
    <a routerLink="/list">Lista</a>
    <br>
    <a routerLink="/if-render">If-Render</a>
    <br>
    <a routerLink="/evento">Evento</a>
    <br>
    <a routerLink="/emitter">Change-Number</a>
</nav>

<h1>Hello world Angular!</h1>

<!--Agora usando o router outlet eu divido meu projeto em paginas e não preciso mais ficar importando os seletores-->
<router-outlet></router-outlet>

<h3>Esse site é um SPA</h3>

<p>footer</p>